@mixin mobile{
    @media (max-width:700px){
        @content;
    }
}
@mixin tablet{
    @media (max-width:1024px){
        @content;
    }
}
@mixin desktop{
    @media (max-width:1400px){
        @content;
    }
}

.App {
    color: white;
  }

  html {
    scroll-behavior: smooth;
  }
  
  
  body{
    font-family: 'poppins';
    margin:0;
    padding:0;
    overflow-x: hidden;

    @include mobile{
        overflow-x: scroll;
    }
  }

  section{
    height: 100vh;
    scroll-snap-align: center;

  }
  

  #Home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Projects{
    background: linear-gradient(to bottom, #030637, #ffffff);
    
}

#project-details{
   background: linear-gradient(to bottom,#587a91,skyblue);  
}
#Work{
    background: linear-gradient(to bottom,skyblue,#ffffff);  
 }

#work-details{
    background: linear-gradient(to bottom, #dcba84, #030637);
 }
#Coding\+Socials{
    background: linear-gradient(to bottom, #030637, #3C0753);
 }
 #cs-details{
    background:linear-gradient(to bottom,#524746,#3C0753);
 }
button{
    transition-duration: 0.2s;
    cursor: pointer;
}
button:active{
    transform: scale(0.9);
}

a{
    text-decoration: none;
    color:inherit
}

