.App {
    background: linear-gradient(180deg,#030637,#3C0753);
    color: white;
  }

  html {
    // scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
 
  }
  
  
  body{
    font-family: 'poppins';
    margin:0;
    padding:0;
    overflow-x: hidden;
 
  }

  section{
    height: 100vh;
    scroll-snap-align: center;

  }
  

  #Home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Projects{
    background: linear-gradient(to bottom, #030637, #ffffff);
    
}

#project-details{
   background: linear-gradient(to bottom,#587a91,skyblue);  
}

button{
    transition-duration: 0.2s;
    cursor: pointer;
}
button:active{
    transform: scale(0.9);
}

a{
    text-decoration: none;
    color:inherit
}