#parallax{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    h1{
        position: absolute;
        font-size: 10vh;
        transition-duration: 0.1s;
        z-index: 4;
        &:hover{
            opacity: 0.8;
        }
        cursor: pointer;
    }
}

#stars{
    position:absolute;
    background-image: url('../../../public/stars.png');
    height: 100%;
    width: 100%;
}
// #clouds{
//     background-image: url('../../../public/clouds.png');
//     background-size: cover;
//  background-position: top;
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     z-index: 3;
// }


#clouds{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    img{
        height: 50%;
        width: 50%;
    }
    z-index: 3;
}
#moon{
    background-color: transparent;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    img{
        border-radius: 100%;
        height: 20%;
        margin:40px 0;
    }
    
    z-index: 2;
 
}

#mountains{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    img{
        height: 70%;
        width: 100%;
    }

}